@keyframes ping-dot {
  0%, 20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-ping-dot {
  animation: ping-dot 1.2s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}


@keyframes slide-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.border-animated {
  background-size: 200% 200%;
  animation: slide-border 4s linear infinite;
}
